/* reusable properties */

.text-white{
    color: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

/* font */

.x-small {
    font-size: 0.5rem;
}

.small {
    font-size: 0.8rem;
}

.medium {
    font-size: 1rem;
}

.large {
    font-size: 3rem;
}

.x-large {
    font-size: 4rem;
}

.my-1 {
    padding: 2rem 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}