/* reusable properties */

.text-white{
    color: #fff;
}

.flex {
    display: flex;
}

/* font */

.x-small {
    font-size: 0.5rem;
}

.small {
    font-size: 0.8rem;
}

.medium {
    font-size: 1rem;
}

.large {
    font-size: 3rem;
}

.x-large {
    font-size: 4rem;
}